body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background-image: url("imagenes assisly/fondo.png");
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}

/* cuadro blanco */
.login-container{
    background:white;
    padding:40px;
    width:400px;
    border-radius:25px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

/* logo */
.logo{
    width:300px;
    margin-bottom:20px;
    
}
/* Id-facial */
.id-facial{
    width: 300px;
    margin-bottom:50px;
    margin:30px;
    margin-left:6%;
}

/* registro */
input{
    width:80%;
    text-align: center;
    padding:12px;
    margin:10px;
    border-radius:25px;
    border:1px solid #ccc; 
    
}

/* botón */
.btn-login{
    height: 45px;
    width:85%;
    padding:12px;
    border:none;
    border-radius:25px;
    background:linear-gradient(to right,#b1b7d3,#5344aa);
    cursor:pointer;
    margin-top:15px;
    color: aliceblue;
}

.btn-camara{
    height: 45px;
    width: 85%;
    padding:12px ;
    border: none;
    border-radius: 25px;
    background:linear-gradient(to right, #b1b7d3, #5344aa) ;
    cursor:pointer;
    margin: top 15px;
    color: aliceblue;
    
}

.terminos{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    
}

.terminos input{
    width: 18px;
    height: 18px;
    cursor: pointer;

}

.terminos label{
    font-size: 14px;
}
.QR {
width:300px;
    text-align: center;
    padding:12px;
    margin:10px 0;
    padding:40px
}
.robot{
    display:flex;
    justify-content: center;
    width:140%;
    margin: 0px;
    padding-left: 20%;
}
.cerrar {
text-align: center; 
}

.btn-cerrar {
    height: 45px;
    width:85%;
    border:none;
    border-radius:25px;
    background:linear-gradient(to right,#b1b7d3,#5344aa);
    cursor:pointer;
    color: aliceblue;
    margin-bottom:20px ;
}
.titulo{
/* tamaño de la letra */
font-size: 35px;
}
/* icono ojo */
.contraseña{
    position: relative;
    width: 80%;
    margin: auto;
    margin-right: 63px;
    
}

.contraseña input{
    width:100%;
    text-align: center;
    padding:12px;
    margin:10px;
    border-radius:25px;
    border:1px solid #ccc; 
    right:20px;
}

.contraseña i{
    position: absolute;
    right: 20px;
    top: 40%;
    cursor: pointer;
    color: gray;
}
.btn-foto {
    width: 30%;
    border-radius:25px;
    border:1px solid #d4d4d4; 
    color:#000000;
    margin:20px;
    
}
.login-rostro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.camara-box {
    width: 220px;
    height: 220px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
    background: url("imagenes assisly/id-facial.png") no-repeat center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.4s; /* 🔥 animación suave */
}

/* 🔥 cuando abre cámara */
.camara-grande {
    width: 300px;
    height: 300px;
}
